<ion-header>
  <!-- <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content class='background'>
  <div class='logo'>
    <ion-img src="assets/img/myom_logo-maledog.png" alt="logo" height="120" width="120"></ion-img>
  </div>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <ion-item>
        <!--<ion-label stacked>Email</ion-label>-->
        <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
          placeholder="Your email address"
          [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
          <p>Please enter a valid email.</p>
        </ion-item>
        <ion-item>
          <!--<ion-label stacked>Password</ion-label>-->
          <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
            placeholder="Your password"
            [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
          <p>Your password needs more than 6 characters.</p>
        </ion-item>
        <button color="emphasis" ion-button block type="submit">
          Login
        </button>
        <button color="emphasis" ion-button block clear (click)="register()">
          Sign Up
        </button>
        <button color="emphasis" ion-button block clear (click)="resetPwd()">
          Forgot Password
        </button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
