page-login {
    .background {
        background-color: color($colors, light);
    }
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }
    ion-img {
      background-color: color($colors, light);
    }
    ion-card.card{
        box-shadow: none;
        background: color($colors, light);
        border-radius: 1em;
    }

    .item {
        margin-bottom: 10px;
        background: color($colors, light);
        border: 0.5px solid;
        border-radius: 0.5em;
        border-color: color($colors, gray);

        text.input {
            color: color($colors, gray);
        }

        input::-moz-placeholder {
            color: color($colors, gray);
        }
        input:-moz-placeholder {
            color: color($colors, gray);
        }
        *::-webkit-input-placeholder {
            color: color($colors, gray);
        }
        *:-ms-input-placeholder {
            color: color($colors, gray);
        }
        *:-moz-placeholder {
            color: color($colors, gray);
        }
    }

    .item button {
        color: #f11
    }
}
