//dogname,groupname,gender,birth

<ion-header>
  <ion-toolbar>
      <ion-title>개 등 록</ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="main" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngIf="groupname==null || groupname==''">
      <ion-label>기존 그룹에 추가</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="alreadygroup">
        <ion-option value="moo_exception">
          없음
        </ion-option>
        <div *ngFor="let group of grouplist | async">
          <ion-option value="{{group.$key}}">
            {{group.groupName}}
          </ion-option>
        </div>
    </ion-select>
  </ion-item>

    <ion-item *ngIf= "alreadygroup==null || alreadygroup=='moo'">
      <ion-label stacked>새 그룹 생성</ion-label>
      <ion-input type = "text" value="" [(ngModel)]="groupname"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label floating>그룹명</ion-label>
      <ion-input type="text" value="" [(ngModel)]="groupname"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label stacked>강아지 이름</ion-label>
      <ion-input type = "text" value="" [(ngModel)]="dogname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>강아지 생년월일</ion-label>
      <ion-datetime displayFormat= "YYYY-MM-DD" [(ngModel)]="birth"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>성별</ion-label>
      <ion-select [(ngModel)]="gender" cancelText = "취소" okText = "확인" >
      <ion-option value="maledog">수컷</ion-option>
      <ion-option value="femaledog">암컷</ion-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>식사시간</ion-label>
      <ion-select [(ngModel)]="mealtime" multiple = "true" cancelText = "취이소" okText = "확이인" >
        <ion-option value="time1">00:00~02:00</ion-option>
        <ion-option value="time2">02:00~04:00</ion-option>
        <ion-option value="time3">04:00~06:00</ion-option>
        <ion-option value="time4">06:00~08:00</ion-option>
        <ion-option value="time5">08:00~10:00</ion-option>
        <ion-option value="time6">10:00~12:00</ion-option>
        <ion-option value="time7">12:00~14:00</ion-option>
        <ion-option value="time8">14:00~16:00</ion-option>
        <ion-option value="time9">16:00~18:00</ion-option>
        <ion-option value="time10">18:00~20:00</ion-option>
        <ion-option value="time11">20:00~22:00</ion-option>
        <ion-option value="time12">22:00~24:00</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color = "emphasis" block (click) = "addingbutton()">등 로 옥</button>
  </div>

</ion-content>
