<ion-header>
  <ion-toolbar>
      <ion-title>사용자 초대하기</ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <h4>List</h4>
    <li *ngFor="let group of grouplist | async">
      ID : {{ group.$key }} <br>
      이름 : {{ group.groupName }} <br>
      개들: <br>
      {{(group.dogs | json)}}
        <ul>
          <li *ngFor="let dog of group.dogs | keys">
            {{ dog.key }}
          </li>
        </ul>
    </li>
  </ul> 
  <ion-list>
    <ion-item>
      <ion-label floating>사용자email</ion-label>
      <ion-input type = "email" value="" [(ngModel)]="inviteduser"></ion-input>
    </ion-item>

    <ion-item>  //ngFor문
      <ion-label>어떤강아지를초대</ion-label>
        <ion-select [(ngModel)]="inviteddog" multiple="false" cancelText="cancel" okText="OK">
            <div *ngFor="let group of grouplist | async">
              <div *ngFor="let dog of group.dogs | keys">
                <ion-option value="{{dog.key}}">
                  [{{group.groupName}}] {{dog.value.name}}
                </ion-option>
              </div>
            </div>
        </ion-select>
        
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button color = "primary" block (click) = "invitebutton()">초 오 대</button>
  </div>

</ion-content>
