<ion-header>
  <ion-navbar color="main">
    <ion-title>환경설정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-view">
  <ion-list>
    <ion-list-header>
      SETTINGS
    </ion-list-header>
    <ion-item>
      <ion-label>알람</ion-label>
      <ion-toggle [checked]= "pushboolean" [(ngModel)]="pushonoff" (ionChange)="pushcheck(pushonoff)"></ion-toggle>
    </ion-item>
    <button ion-item (click) = "logout()">로그아웃</button>
    <button ion-item (click) = "changeinfoModal()">강아지 정보 수정</button>
    <button ion-item (click) = "addingDogModal()">강아지 등록</button>
    <button ion-item (click) = "invitingModal()">사용자 초대</button>
    <button ion-item (click) = "inviteinfoModal()">초대 목록</button>
    <button ion-item (click) = "deleteModal()">강아지와 작별하기</button>
    <button ion-item (click) = "deleteGroupModal()">그룹 삭제</button>

    <ion-item>
    <ion-label>즐개찾기</ion-label>
    <ion-select [(ngModel)]="favorite" cancelText = "취소" okText = "등록" (ngModelChange)="savefavorite(favorite)">
      <div *ngFor="let group of grouplist | async">
        <div *ngFor="let dog of group.dogs | keys">
          <ion-option value="{{dog.key}}">
            [{{group.groupName}}] {{dog.value.name}}
          </ion-option>
        </div>
      </div>
    </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
