<ion-header>
  <ion-navbar color="main" no-border-bottom>
    <ion-title>
      Health
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="main" no-border-top>
    <ion-segment [(ngModel)]="graph" color="light">
      <ion-segment-button value="week" (click)="weekBTN()">
        주간
      </ion-segment-button>
      <ion-segment-button value="month" (click)="monthBTN()">
        월간
      </ion-segment-button>
      <ion-segment-button value="3months" (click)="threemonthBTN()">
        3개월간
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label>현재 반려견</ion-label>
        <ion-select [(ngModel)]="myMainDogKey" multiple="false" cancelText="cancel" okText="OK" (ionChange)="changeDog()">
            <div *ngFor="let group of mydogs | async">
              <div *ngFor="let dog of group.dogs | keys">
                <ion-option value="{{dog.key}}">
                  {{dog.value.name}} - {{group.groupName}}
                </ion-option>
              </div>
            </div>
        </ion-select>
  </ion-item>
  <!-- Chart -->
  <div>
  <ion-card>
   <ion-card-header [ngSwitch]="graph">
     <h2 *ngSwitchCase="'week'">1주일 산책그래프</h2>
     <h2 *ngSwitchCase="'month'">1개월간 산책 그래프</h2>
     <h2 *ngSwitchCase="'3months'">3개월간 산책 그래프</h2>
   </ion-card-header>
   <ion-card-content>
     <canvas #lineCanvas></canvas>
   </ion-card-content>
  </ion-card>
</div>
<ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="history" color="emphasis">
    <ion-segment-button value="total" (click)="filterBy()">
      전체
    </ion-segment-button>
    <ion-segment-button value="food" (click)="filterBy('food')">
      식사
    </ion-segment-button>
    <ion-segment-button value="walk" (click)="filterBy('walk')">
      산책
    </ion-segment-button>
    <ion-segment-button value="etc" (click)="filterBy('etc')">
      그 외
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div [ngSwitch]="history">
  <ion-list>
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          <div class="historyName">
            {{history.name}}
            <p *ngIf="history.name==='산책' && history.content" class="walkTime">{{history.content}} 분</p>
        </div>
        <ion-note item-right class="historyTime">{{history.time | date : 'yyyy-MM-dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history.$key, history.category, $event)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history.$key)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <health-list></health-list> -->
  </ion-list>
<!-->

  <ion-list *ngSwitchCase="total">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="food">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'walk'">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'etc'">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</!-->
</div>

<ion-fab right bottom>
  <button ion-fab color="point"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab color="emphasis" (click)="addFoodHistory($event)"><ion-icon name="nutrition"></ion-icon></button>
      <!-- </ion-fab-list> -->
      <!-- <ion-fab-list side="left"> -->
    <button ion-fab color="emphasis" (click)="addWalkHistory($event)"><ion-icon name="paw"></ion-icon></button>
    <button ion-fab color="emphasis" (click)="addEtcHistory($event)"><ion-icon name="medkit"></ion-icon></button>

  </ion-fab-list>
</ion-fab>



</ion-content>
