<ion-header>
  <ion-navbar color="main" no-border-bottom>
    <ion-title>
      Health
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="main" no-border-top>
    <ion-segment [(ngModel)]="graph" color="light">
      <ion-segment-button value="week" (click)="weekBTN()">
        주간
      </ion-segment-button>
      <ion-segment-button value="month" (click)="monthBTN()">
        월간
      </ion-segment-button>
      <ion-segment-button value="3months" (click)="threemonthBTN()">
        3개월간
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="graph">
    <ion-list *ngSwitchCase="'week'">
      <ion-item>
        <h2>1주일 그래프</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'month'">
      <ion-item>
        <h2>1개월간 그래프</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'3months'">
      <ion-item>
        <h2>3개월간 그래프</h2>
      </ion-item>
    </ion-list>
  </div>
  <div> <!-- Chart -->
    <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
    </ion-card>
  </div>
<!-- ///////////////// -->

<ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="history" color="emphasis">
    <ion-segment-button value="total" (click)="filterBy()">
      전체
    </ion-segment-button>
    <ion-segment-button value="food" (click)="filterBy('food')">
      식사
    </ion-segment-button>
    <ion-segment-button value="walk" (click)="filterBy('walk')">
      산책
    </ion-segment-button>
    <ion-segment-button value="etc" (click)="filterBy('etc')">
      그 외
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div [ngSwitch]="history">
  <ion-list>
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
          <div *ngIf="history.content">
            {{history.content}} 분 <!--분은 안맞췃어요~-->
          </div>
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history.$key)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history.$key)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <health-list></health-list> -->
  </ion-list>
<!-->

  <ion-list *ngSwitchCase="total">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="food">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'walk'">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'etc'">
    <ion-item-sliding *ngFor="let history of dogHistory | async">
      <ion-item>
        <ion-icon name="{{history.icon}}" item-left></ion-icon>
          {{history.name}}
        <ion-note item-right>{{history.time | date:'MM/dd HH:mm'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="emphasis" icon-left (click)="editItem(history)">
            <ion-icon name="create"></ion-icon>
            편집
          </button>
          <button ion-button color="point" icon-left (click)="deleteItem(history)">
            <ion-icon name="trash"></ion-icon>
            삭제
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</!-->
</div>

<ion-fab right bottom>
  <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab color="emphasis"><ion-icon name="nutrition"></ion-icon></button>
      <!-- </ion-fab-list> -->
      <!-- <ion-fab-list side="left"> -->
        <button ion-fab color="emphasis"><ion-icon name="paw"></ion-icon></button>
        <button ion-fab color="emphasis"><ion-icon name="medkit"></ion-icon></button>

      </ion-fab-list>
    </ion-fab>



</ion-content>
