<ion-content #popoverContent class="popover-page">
  <ion-list>
    <ion-item>
      <ion-label>강아지 선택</ion-label>
      <ion-select  [(ngModel)]="selected" multiple="true" cancelText="cancel" okText="OK">
          <div *ngFor="let group of grouplist | async">
            <div *ngFor="let dog of group.dogs | keys">
              <ion-option value="{{dog.key}}">
                {{dog.value.name}} - {{group.groupName}}
              </ion-option>
            </div>
          </div>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>시간</ion-label>
        <ion-datetime displayFormat= "YYYY-MM-DD_HH:mm" [(ngModel)]="inputdate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="category=='food'">
      <ion-label>식사종류</ion-label>
      <ion-select [(ngModel)]="foodtype" cancelText="cancel" okText="OK">
        <ion-option value="restaurant">사료</ion-option>
        <ion-option value="nutrition">간식</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="category=='walk'">
      <ion-label>산책시간</ion-label>
      <ion-input [(ngModel)]="walktime"></ion-input>
    </ion-item>
    <ion-item *ngIf="category=='etc'">
      <ion-label>무슨일?</ion-label>
      <ion-input [(ngModel)]="what"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block outline color = "empahsis" (click) = "check()">추가</button>
  </div>

</ion-content>
