.popover-page {
  
  ion-item{
    font-size : 1em;
  }
  //ios
  // iOS Popover
  // --------------------------------------------------

  /// @prop - Width of the popover content
  $popover-ios-width:                     200px !default;

  /// @prop - Min width of the popover content
  $popover-ios-min-width:                 0 !default;

  /// @prop - Minimum height of the popover content
  $popover-ios-min-height:                0 !default;

  /// @prop - Maximum height of the popover content
  $popover-ios-max-height:                90% !default;

  /// @prop - Border radius of the popover content
  $popover-ios-border-radius:             10px !default;

  /// @prop - Text color of the popover content
  $popover-ios-text-color:                $text-ios-color !default;

  /// @prop - Background of the popover content
  $popover-ios-background:                $background-ios-color !default;

  /// @prop - Background of the popover arrow
  $popover-ios-arrow-background:          $popover-ios-background !default;


  .popover-ios .popover-content {

    width: $popover-ios-width;
    min-width: $popover-ios-min-width;
    min-height: $popover-ios-min-height;
    max-height: $popover-ios-max-height;

    color: $popover-ios-text-color;
    background: $popover-ios-background;
  }


  // Popover Arrow
  // -----------------------------------------

  .popover-ios .popover-arrow {
    position: absolute;
    display: block;

    overflow: hidden;

    width: 20px;
    height: 10px;
  }

  .popover-ios .popover-arrow::after {
    position: absolute;

    z-index: $z-index-overlay-wrapper;

    width: 14px;
    height: 14px;

    background-color: $popover-ios-arrow-background;
    content: "";
    transform: rotate(45deg);
  }

  .popover-ios.popover-bottom .popover-arrow {
    top: auto;
    bottom: -10px;
  }

  .popover-ios.popover-bottom .popover-arrow::after {
    top: -6px;
  }

  //MD

  // Material Design Popover
  // --------------------------------------------------

  /// @prop - Width of the popover content
  $popover-md-width:                     200px !default;

  /// @prop - Min width of the popover content
  $popover-md-min-width:                 0 !default;

  /// @prop - Minimum height of the popover content
  $popover-md-min-height:                0 !default;

  /// @prop - Maximum height of the popover content
  $popover-md-max-height:                90% !default;

  /// @prop - Border radius of the popover content
  $popover-md-border-radius:             2px !default;

  /// @prop - Text color of the popover content
  $popover-md-text-color:                $text-md-color !default;

  /// @prop - Background of the popover content
  $popover-md-background:                $background-md-color !default;

  /// @prop - Box shadow color of the popover content
  $popover-md-box-shadow-color:          rgba(0, 0, 0, .3) !default;

  /// @prop - Box shadow of the popover content
  $popover-md-box-shadow:                0 3px 12px 2px $popover-md-box-shadow-color !default;


  .popover-md .popover-content {
  

    width: $popover-md-width;
    min-width: $popover-md-min-width;
    min-height: $popover-md-min-height;
    max-height: $popover-md-max-height;

    color: $popover-md-text-color;
    background: $popover-md-background;
    box-shadow: $popover-md-box-shadow;

    transform-origin: top left;
  }

  .popover-md .popover-viewport {
    opacity: 0;
    transition-delay: 100ms;
  }
}
