<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Hello {{ user.email }}</h3>
  메세지 :
  <ul>
    <li *ngFor="let msg of msgs | async">
      {{ msg.$value }}
    </li>
  </ul>
  <div>
    <p>Today is {{today | date}}</p>
    <p>The time is {{today | date:'HH:mm'}}</p>
  </div>

  <!-- Real floating action button, fixed. It will not scroll with the content -->

    <ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="add-circle"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab color="danger"><ion-icon name="nutrition"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="left">
            <button ion-fab color="primary"><ion-icon name="paw"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>


  <!-- <ul>
    <h4>List</h4>
    <li *ngFor="let dog of dogs | async">
      ID : {{ dog.$key }} <br>
      이름 : {{ dog.d_name }} <br>
      몇끼 먹니? {{ dog.meal_time }} <br>
      같이 기르는 사람들 : <br>
      {{dog.users | json}}
        <ul>
          <li *ngFor="let user of dog.users | keys">
            {{ user.key }}
          </li>
        </ul>
    </li>
  </ul> -->
</ion-content>
