<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      그룹1
    </ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="img/test.png">
      </ion-avatar>
      <h2>개1</h2>
      <h3>개년월일</h3>
      <p>개인포</p>
    </ion-item>


    <ion-list-header>
      그룹2
    </ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="img/notread.png">
      </ion-avatar>
      <h2>개1</h2>
      <h3>개년월일</h3>
      <p>개인포</p>
    </ion-item>

  </ion-list>
  <button ion-fab color="primary"><ion-icon name="nutrition"></ion-icon></button>


</ion-content>

 <!-- <!— <ul>
    <h4>List</h4>
    <li *ngFor="let dog of dogs | async">
      ID : {{ dog.$key }} <br>
      이름 : {{ dog.d_name }} <br>
      몇끼 먹니? {{ dog.meal_time }} <br>
      같이 기르는 사람들 : <br>
      {{dog.users | json}}
        <ul>
          <li *ngFor="let user of dog.users | keys">
            {{ user.key }}
          </li>
        </ul>
    </li>
  </ul> —> -->
