<div class="card-background-page">
  <ion-card>
    <img src="assets/img/shiba_inu_walk2.jpg" />
    <div class="timer-text card-title">{{timer.displayTime}}</div>
      <!-- <h1 text-center color="primary" class="timer-button timer-text">{{timer.displayTime}}</h1> -->
    <div *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished" class="card-subtitle">산책 중 . . . </div>
    <div *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished" class="card-subtitle">휴식 중</div>
    <div *ngIf="!timer.hasStarted" class="card-subtitle">산책 준비</div>
  </ion-card>
</div>

<ion-fab bottom center *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
    <button ion-fab color="dark" (click)='updateParent()'><ion-icon name="baseball"></ion-icon></button>
</ion-fab>

<ion-fab bottom left *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
    <button ion-fab color="emphasis" (click)="pauseTimer()">
    <ion-icon name="pause"></ion-icon>
    </button>
 </ion-fab>

 <ion-fab bottom left *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
    <button ion-fab color="emphasis" (click)="resumeTimer()">
    <ion-icon name="play"></ion-icon>
    </button>
 </ion-fab>

 <ion-fab bottom left *ngIf="!timer.hasStarted">
    <button ion-fab color="emphasis" (click)="startTimer()" item-right>
    <ion-icon name="play"></ion-icon>
    </button>
 </ion-fab>

<ion-fab bottom right *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
    <button ion-fab color="point" (click)="refresh()" item-left>
    <ion-icon name="refresh"></ion-icon>
    </button>
</ion-fab>

<!--  -->
